@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.admin-layout {
  $main-header-height: 70px;
  $main-filter-height: 40px;
  $main-filter-right-width: 16%;
  $main-card-content-spacing: 10px;

  min-height: 100vh;

  /* Sider */
  &__sider {
    background: $primary-color;
  }

  &__sider:not(.ant-layout-sider-collapsed) {
    flex: 0 0 20% !important;
    min-width: 20% !important;
    max-width: 20% !important;
    width: 20% !important;
  }

  &__sider.ant-layout-sider-collapsed {
    flex: 0 0 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
    width: 100px !important;
  }

  &__sider-menu {
    background: $primary-color;
    padding: 0 12px;
  }

  &__sider-menu .ant-menu-item {
    height: 50px;
    border-radius: 6px;
    line-height: 50px;
    transition: 0.2s ease-in !important;
  }

  &__sider-menu .ant-menu-item svg {
    @include size(20px);
    transition: inherit;
  }

  &__sider-menu .ant-menu-item span {
    font-size: 1.8rem;
    transition: inherit;
  }

  &__sider-menu .ant-menu-item span a {
    transition: inherit;
  }

  &__sider-menu .ant-menu-item-selected {
    background-color: #ffe08a !important;
    color: #003366 !important;
  }

  &__sider-menu .ant-menu-item-selected .anticon {
    color: #003366 !important;
  }

  &__sider-menu .ant-menu-item:hover {
    background-color: #ffe08a !important;
    color: #003366 !important;
  }

  &__sider-menu .ant-menu-item:hover .anticon {
    color: #003366 !important;
  }

  &__sider-menu .ant-menu-item:not(:first-of-type) {
    margin-top: 10px;
  }

  /* Drawer */
  &__drawer .brand {
    padding: 12px 0 !important;
  }

  &__drawer .brand img {
    @include size(35px);
  }

  &__drawer .brand span {
    font-size: 2.4rem;
  }

  /* Main */
  &__main-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: $main-header-height;
    background: $secondary-color;
    padding: 0;
  }

  &__main-header .collapse-button {
    @include size($main-header-height);
    color: $primary-color;
    font-size: 2rem;
  }

  &__main-header .title {
    color: $primary-color;
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__main-header .right,
  &__main-header .right button {
    display: flex;
    align-items: center;
  }

  &__main-header .right {
    margin-left: auto;
  }

  &__main-header .right button {
    padding: 14px 10px !important;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__main-header .right button span.ant-btn-icon {
    font-size: 1.8rem;
  }

  &__main-header .right button > span:not(.ant-btn-icon) {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__main-header .right button.language > span:not(.ant-btn-icon) {
    font-size: 2.4rem;
  }

  &__main-content {
    padding: $admin-spacing;
  }

  &__main-breadcrumb li {
    font-size: 1.6rem;
    cursor: pointer;
  }

  &__main-card {
    margin-top: calc($admin-spacing / 2);
  }

  &__main-card .ant-card-head {
    min-height: 70px;
  }

  &__main-card .ant-card-head-title {
    font-size: 2.4rem;
  }

  &__main-table,
  &__main-statistics,
  &__main-map {
    margin-top: $main-card-content-spacing;
  }

  &__main-filter,
  &__main-filter :is(.left, .right, .only),
  &__main-statistics {
    // &__main-map.has-info,
    // &__main-map.has-info .header {
    display: flex;
    align-items: center;
  }

  &__main-filter {
    height: $main-filter-height;
    margin-bottom: $main-card-content-spacing;
  }

  &__main-filter
    :is(
      .ant-input-affix-wrapper,
      .ant-select,
      .ant-select-selector,
      .ant-picker,
      .ant-picker input,
      a,
      button
    ) {
    height: $main-filter-height !important;
    font-size: 1.6rem !important;
  }

  &__main-filter :is(a, button) {
    font-weight: 600;
  }

  &__main-filter .left {
    width: calc(100% - $main-filter-right-width);
  }

  &__main-filter .left .filter-find {
    width: 34%;
  }

  &__main-filter .left .filter-time {
    width: 40%;
  }

  &__main-filter .left .filter-select {
    width: 20%;
  }

  &__main-filter .left .filter-reset {
    width: 12%;
  }

  &__main-filter :is(.only, .left) > :not(:first-child) {
    margin-left: $main-card-content-spacing;
  }

  &__main-filter .right {
    width: $main-filter-right-width;
  }

  &__main-filter :is(.right) :is(a, button) {
    width: 100%;
  }

  &__main-statistics {
    gap: $main-card-content-spacing;
  }

  &__main-statistics .statistic {
    width: calc(100% / 5 - calc($main-card-content-spacing * 4 / 5));
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

  &__main-map .leaflet-map {
    height: 480px !important;
  }

  // <========== ==========>
  &__main-map.click-map {
    display: flex;
    gap: $main-card-content-spacing;
  }

  &__main-map.click-map .leaflet-map {
    width: 56%;
  }

  &__main-map.click-map .click-info {
    @include flexCenter();
    flex-direction: column;
    width: 44%;
  }

  &__main-map.click-map .click-info img {
    @include size(100px);
  }

  &__main-map.click-map .click-info p {
    margin-top: 14px;
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__main-map.click-map .click-info span {
    color: #555;
    font-size: 1.6rem;
  }

  &__main-card.info {
    margin-top: $admin-spacing;
  }

  &__main-card.info .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__main-card.info .tags {
    position: relative;
    display: flex;
    gap: calc($main-card-content-spacing * 2);
    flex-wrap: wrap;
  }

  &__main-card.info .tag {
    width: calc(100% / 5 - calc(calc($main-card-content-spacing * 2) * 4 / 5));
    margin: 0;
  }

  &__main-card.info .tag-wrapper:has(.tag.multiple-2),
  &__main-card.info .tag.multiple-2 {
    width: calc(
      calc(100% / 5 - calc(calc($main-card-content-spacing * 2) * 4 / 5)) * 2 +
        calc(calc($main-card-content-spacing * 2) * 4 / 5)
    );
  }

  &__main-card.info .tag-wrapper:has(.tag.multiple-3),
  &__main-card.info .tag.multiple-3 {
    width: calc(
      calc(100% / 5 - calc(calc($main-card-content-spacing * 2) * 4 / 5)) * 3 +
        calc(calc(calc($main-card-content-spacing * 2) * 4 / 5) * 2)
    );
  }

  &__main-card.info .tag-wrapper:has(.tag.multiple-4),
  &__main-card.info .tag.multiple-4 {
    width: calc(
      calc(100% / 5 - calc(calc($main-card-content-spacing * 2) * 4 / 5)) * 4 +
        calc(calc(calc($main-card-content-spacing * 2) * 4 / 5) * 3)
    );
  }

  &__main-card.info .tag-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc($main-card-content-spacing * 2);
  }

  &__main-card.info .tag-wrapper .tag {
    @include size(100%);
  }

  &__main-card.info .tag-wrapper:has(.tag.no-align-stretch),
  &__main-card.info .tag.no-align-stretch {
    align-self: flex-start;
  }

  &__main-card.info .tag > .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    height: 30px;
  }

  &__main-card.info .tag > .header img {
    @include size(24px);
  }
  
  &__main-card.info .tag > .header img.avatar {
    border-radius: 50%;
  }

  &__main-card.info .tag > .header b {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__main-card.info .tag > .ant-tag {
    width: 100%;
    height: calc(100% - 30px - 2px);
    padding: 16px;
    border-radius: 4px;
    margin: 2px 0 0;
  }

  &__main-card.info .tag > .ant-tag .content.margin-top-0 {
    margin-top: 0;
  }

   &__main-card.info .tag > .ant-tag .content .avatar {
    @include size(60px);
    border-radius: 50%;
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
   }

  &__main-card.info .tag > .ant-tag .content p {
    display: flex;
    font-size: 1.5rem;
    white-space: wrap;
  }

  &__main-card.info .tag > .ant-tag .content p:not(:first-of-type) {
    margin-top: 4px;
  }

  &__main-card.info .tag > .ant-tag .content span:not(.ant-tag) {
    display: inline-block;
    width: 34%;
  }

  &__main-card.info .tag > .ant-tag .content b {
    font-weight: 700;
    width: 66%;
  }

  &__main-card.info .tag.multiple-2 > .ant-tag .content span:not(.ant-tag) {
    width: 22%;
  }

  &__main-card.info .tag.multiple-2 > .ant-tag .content b {
    width: 78%;
  }

  &__main-card.info .tag.multiple-3 > .ant-tag .content span:not(.ant-tag) {
    width: 18%;
  }

  &__main-card.info .tag.multiple-3 > .ant-tag .content b {
    width: 82%;
  }

  &__main-card.info .tag > .ant-tag .content #map-route {
    height: 300px !important;
    margin-top: 10px;
  }

  &__main-card.info .tag > .ant-tag .content:has(.left, .right) {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  &__main-card.info .tag > .ant-tag .content:has(.left, .right) .left {
    width: calc(100% - 200px);
  }

  &__main-card.info .tag > .ant-tag .content:has(.left, .right) .right {
    width: 200px;
  }

  &__main-card.info .tag.multiple-3 > .ant-tag .content:has(.left, .right) span:not(.ant-tag) {
    width: 24%;
  }

  &__main-card.info .tag.multiple-3 > .ant-tag .content:has(.left, .right) b {
    width: 76%;
  }

  &__main-card.info .tag > .ant-tag .content:has(.left, .right) #map-pickup {
    height: 200px !important;
  }

   &__main-card.info .tag .ant-list-item-meta-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  &__main-card.info .tag .ant-tag-purple .ant-list-item-meta-title {
    color: $tag-fg-purple-color;
  }

  &__main-card.info .tag .ant-tag-green .ant-list-item-meta-title {
    color: $tag-fg-green-color;
  }

  &__main-card.info .tag .ant-tag-red .ant-list-item-meta-title {
    color: $tag-fg-red-color;
  }

  &__main-card.info .tag .ant-tag-gray .ant-list-item-meta-title {
    color: $tag-fg-gray-color;
  }

  &__main-card.info .tag .ant-list-item-meta-description {
    font-size: 1.4rem;
  }

  &__main-card.info .tag.students button {
    @include flexCenter();
    font-size: 1.2rem;
    height: auto;
    padding: 6px 14px ;
  }

  &__main-card.info .tag.students button span {
    width: 100% !important;
  }

  &__main-card.info .tag.pickups .ant-list-item-meta-description .block-flex {
    display: flex;
    align-items: flex-start;
    gap: 4px;
  }

  &__main-card.info .tag.pickups .ant-list-item-meta-description .left {
    width: calc(100% - 150px);
  }  

  &__main-card.info .tag.pickups .ant-list-item-meta-description .right {
    width: 150px
  }

  &__main-card.info .tag.pickups .ant-list-item-meta-description .right .leaflet-map {
    height: 150px !important;
  }
}
