.leaflet-map {
  & .leaflet-control-container > * {
    z-index: 999;
  }

  & .info-block {
    background: #fff;
    padding: 6px;
    border: 2px solid #aeaeae;
    border-radius: 4px;
  }

  & .info-block .title {
    font-size: 1.4rem;
    font-weight: 600;
  }

  & .info-block .description {
    color: #555;
    font-size: 1.2rem;
  }

  & .info-block .description b {
    font-weight: 500;
  }

  & .info-block.in-tag .title {
    font-size: 1.2rem !important;
  }

  & .info-block.in-tag .description {
    font-size: 1rem !important;
  }

  & .info-block.in-tag .description b {
    width: auto !important;
    margin-left: 2px;
  }

  & .leaflet-tooltip-custom {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #333;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  }

  & .leaflet-tooltip-custom .title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
}
